<p class="h3">Department {{id}} details</p>
<div>
  <a class="btn btn-sm btn-outline-primary" (click)="goPrevious()">Previous</a>
  <a class="ml-2 btn btn-sm btn-outline-primary" (click)="goNext()">Next</a>
  <a class="ml-2 btn btn-sm btn-outline-primary" (click)="goBack()">Departments</a>
  <a class="ml-2 btn btn-sm btn-outline-primary" (click)="gotoContactUs()">ContactUs</a>
  <a class="ml-2 btn btn-sm btn-outline-primary" (click)="gotoAboutUs()">ContactUs</a>
  <router-outlet></router-outlet>
</div>